<form
  [formGroup]="form"
  novalidate
  (ngSubmit)="submit()"
  class="flex flex-col w-1-2 mx-auto mt-1"
>
  <mat-form-field>
    <mat-label>name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>description</mat-label>
    <input matInput formControlName="description" />
  </mat-form-field>

  <button
    mat-stroked-button
    color="primary"
    type="submit"
    [disabled]="form.invalid"
  >
    Submit
  </button>

  <button mat-stroked-button type="button" (click)="back()" class="my-1">
    Cancel
  </button>

  <button mat-flat-button type="button" (click)="delete(id())">Delete</button>
</form>
