<mat-card>
  <mat-card-header>
    <span class="italic">Create a new match </span></mat-card-header
  >
  <form
    [formGroup]="form"
    novalidate
    (ngSubmit)="submit()"
    class="flex flex-col p-2"
  >
    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category" required>
        <!-- Kids -->
        <mat-option value="Boys Under 8">Boys Under 8</mat-option>
        <mat-option value="Boys Under 10">Boys Under 10</mat-option>
        <mat-option value="Boys Under 12">Boys Under 12</mat-option>
        <mat-option value="Boys Under 14">Boys Under 14</mat-option>
        <mat-option value="Boys Under 16">Boys Under 16</mat-option>
        <mat-option value="Girls Under 8">Girls Under 8</mat-option>
        <mat-option value="Girls Under 10">Girls Under 10</mat-option>
        <mat-option value="Girls Under 12">Girls Under 12</mat-option>
        <mat-option value="Girls Under 14">Girls Under 14</mat-option>
        <mat-option value="Girls Under 16">Girls Under 16</mat-option>

        <!-- Juniors -->
        <mat-option value="Junior Men Under 18 Lightweight"
          >Junior Men Under 18 Lightweight</mat-option
        >
        <mat-option value="Junior Men Under 18 Middleweight"
          >Junior Men Under 18 Middleweight</mat-option
        >
        <mat-option value="Junior Men Under 18 Heavyweight"
          >Junior Men Under 18 Heavyweight</mat-option
        >
        <mat-option value="Junior Women Under 18 Lightweight"
          >Junior Women Under 18 Lightweight</mat-option
        >
        <mat-option value="Junior Women Under 18 Middleweight"
          >Junior Women Under 18 Middleweight</mat-option
        >
        <mat-option value="Junior Women Under 18 Heavyweight"
          >Junior Women Under 18 Heavyweight</mat-option
        >

        <!-- Adults -->
        <mat-option value="Men Open Weight">Men Open Weight</mat-option>
        <mat-option value="Men Lightweight">Men Lightweight</mat-option>
        <mat-option value="Men Middleweight">Men Middleweight</mat-option>
        <mat-option value="Men Heavyweight">Men Heavyweight</mat-option>
        <mat-option value="Women Open Weight">Women Open Weight</mat-option>
        <mat-option value="Women Lightweight">Women Lightweight</mat-option>
        <mat-option value="Women Middleweight">Women Middleweight</mat-option>
        <mat-option value="Women Heavyweight">Women Heavyweight</mat-option>

        <!-- Seniors -->
        <mat-option value="Senior Men Over 35 Lightweight"
          >Senior Men Over 35 Lightweight</mat-option
        >
        <mat-option value="Senior Men Over 35 Middleweight"
          >Senior Men Over 35 Middleweight</mat-option
        >
        <mat-option value="Senior Men Over 35 Heavyweight"
          >Senior Men Over 35 Heavyweight</mat-option
        >
        <mat-option value="Senior Women Over 35 Lightweight"
          >Senior Women Over 35 Lightweight</mat-option
        >
        <mat-option value="Senior Women Over 35 Middleweight"
          >Senior Women Over 35 Middleweight</mat-option
        >
        <mat-option value="Senior Women Over 35 Heavyweight"
          >Senior Women Over 35 Heavyweight</mat-option
        >

        <!-- Masters -->
        <mat-option value="Master Men Over 50">Master Men Over 50</mat-option>
        <mat-option value="Master Women Over 50"
          >Master Women Over 50</mat-option
        >
      </mat-select>
    </mat-form-field>

    <div class="flex flex-col">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >
        Create
      </button>
    </div>
  </form>
</mat-card>
