<mat-card>
  <mat-card-header>
    <h3 class="italic">TODO categoria meciului</h3>
  </mat-card-header>
  <!-- luptatori ce participa la lupta -->
  <mat-card-content>
    <mat-list>
      @for (item of matchFighters; track $index) {
      <mat-list-item>
        <button mat-stroked-button (click)="removeFighter(item.id)">
          remove
        </button>
        <span> {{ item.name }}, {{ item.club }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      }
    </mat-list>
  </mat-card-content>
  <!-- luptatori disponibili in competitie -->

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Add fighters </mat-panel-title>
        <mat-panel-description> from the available pool </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list>
        @for (item of competitionFighters; track $index) {
        <mat-list-item>
          <button mat-stroked-button (click)="addFighter(item.id)">add</button>
          <span> {{ item.name }}, grad: {{ item.rank }} </span>
        </mat-list-item>
        <mat-divider></mat-divider>
        }
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
