<!-- <div class="bracket-container">
  @for (round of rounds; track $index; let roundIndex = $index) {
  <div class="round">
    <h3 class="round-title">Round {{ roundIndex + 1 }}</h3>

    <div class="matches">
      @for (fighter of round; track trackByFn($index, fighter); let matchIndex =
      $index) {
      <mat-card class="match-card">
        <mat-card-content>
          @if (fighter) {
          <div class="fighter-name">{{ fighter.name }}</div>
          } @else {
          <div class="empty-slot">__________</div>
          }
        </mat-card-content>
      </mat-card>
      }
    </div>
  </div>
  }
</div> -->
