@use "styles/_border_radius";
@use "styles/_border_width";
@use "styles/flex";
@use "styles/margin";
@use "styles/padding";
@use "styles/text";
@use "styles/width";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
