<mat-toolbar color="accent">
  <button mat-stroked-button (click)="getHomePage()">Home</button>
  <button mat-stroked-button (click)="getCompetitions()" class="ml-1">
    Competitions
  </button>

  @if (isLoggedIn) { @if (isModerator || isAdmin) {

  <button mat-flat-button (click)="getClubs()" class="ml-1">Clubs</button>

  } } @if (isLoggedIn) { @if (isAdmin) {

  <button mat-flat-button (click)="getUsers()" class="ml-1">Users</button>

  } }

  <button mat-raised-button [matMenuTriggerFor]="authentication" class="ml-1">
    Authentication
  </button>
  <mat-menu #authentication="matMenu">
    @if (!isLoggedIn) {
    <button mat-menu-item (click)="register()">Register</button>
    <button mat-menu-item (click)="login()">Login</button>
    } @if (isLoggedIn) {
    <button mat-menu-item (click)="logout()">Logout</button>
    }
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
