/* Margin all sides */
.m-4 {
  margin: 1rem;
}

/* Margin top */
.mt-4 {
  margin-top: 1rem;
}

/* Margin right */
.mr-4 {
  margin-right: 1rem;
}

/* Margin bottom */
.mb-4 {
  margin-bottom: 1rem;
}

/* Margin left */
.ml-4 {
  margin-left: 1rem;
}

/* Margin left and right */
.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Margin top and bottom */
.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
