/* Padding all sides */
.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

/* Padding top */
.pt-4 {
  padding-top: 1rem;
}

/* Padding right */
.pr-4 {
  padding-right: 1rem;
}

/* Padding bottom */
.pb-4 {
  padding-bottom: 1rem;
}

/* Padding left */
.pl-4 {
  padding-left: 1rem;
}

/* Padding left and right */
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Padding top and bottom */
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
