@if (competition) {
<!-- BRACKET SELECTION -->
<mat-form-field class="w-full">
  <mat-label>Available brackets</mat-label>
  <mat-select (selectionChange)="onBracketSelected($event.value)">
    @for (bracket of brackets; track $index) {
    <mat-option [value]="bracket.id">{{ bracket.name }}</mat-option>
    }
  </mat-select>
</mat-form-field>

@if (selectedBracket && bracketFighters ) {
<app-fighter-list [fighters]="bracketFighters"></app-fighter-list>
<!-- KUMITE -->
@if (selectedBracket.name.startsWith("Kumite")) {
<!-- 3 round robin -->
@if (bracketFighters.length == 3) {
<app-kumite-tournament [fighters]="bracketFighters"></app-kumite-tournament>
} @else {
<app-kumite-standard [bracket]="selectedBracket"></app-kumite-standard>
} }
<!-- KATA -->
@if (selectedBracket.name.startsWith("Kata")) {
<app-kata [fighters]="bracketFighters"></app-kata>
} } }
