@if (bracket()) {
<div class="tournament">
  <div class="tournament__grid">
    <!-- tournament__round 1/8 -->
    <div class="tournament__round tournament__round--first-round">
      <div class="tournament__match">
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighter1"
            (ngModelChange)="onSelectionChange(1, $event)"
          >
            <option value="undefined"></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighter2"
            (ngModelChange)="onSelectionChange(2, $event)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
      </div>
      <div class="tournament__match">
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighter3"
            (ngModelChange)="onSelectionChange(3, $event)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighter4"
            (ngModelChange)="onSelectionChange(4, $event)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
      </div>
      <div class="tournament__match">
        <span class="tournament__match__team">
          <select class="fighter-select">
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighter4"
            (ngModelChange)="onSelectionChange(4, $event)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
      </div>
      <div class="tournament__match">
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighter4"
            (ngModelChange)="onSelectionChange(4, $event)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighter4"
            (ngModelChange)="onSelectionChange(4, $event)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
      </div>
    </div>

    <div class="tournament__round tournament__round--first-round">
      <div class="tournament__match">
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighter4"
            (ngModelChange)="onSelectionChange(4, $event)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighter4"
            (ngModelChange)="onSelectionChange(4, $event)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
      </div>
      <div class="tournament__match">
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighter4"
            (ngModelChange)="onSelectionChange(4, $event)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighter4"
            (ngModelChange)="onSelectionChange(4, $event)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
      </div>
    </div>

    <!-- tournament__round 1/2 -->
    <div class="tournament__round">
      <div class="tournament__match">
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighter4"
            (ngModelChange)="onSelectionChange(4, $event)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighter4"
            (ngModelChange)="onSelectionChange(4, $event)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
      </div>
    </div>

    <!-- tournament__round final -->
    <div class="tournament__round tournament__round--winner">
      <div class="tournament__match">
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighter4"
            (ngModelChange)="onSelectionChange(4, $event)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
      </div>
    </div>
  </div>
</div>

}
