<div class="tournament">
  <div class="tournament__grid">
    <!-- tournament__round 1/8 -->
    <div class="tournament__round tournament__round--first-round">
      <div class="tournament__match">
        <span class="tournament__match__team" href="#">{{
          fighters()[0]?.name || "Fighter 1"
        }}</span>
        <span class="tournament__match__team" href="#">{{
          fighters()[1]?.name || "Fighter 2"
        }}</span>
      </div>
      <div class="tournament__match">
        <span class="tournament__match__team" href="#">{{
          fighters()[0]?.name || "Fighter 1"
        }}</span>
        <span class="tournament__match__team" href="#">{{
          fighters()[2]?.name || "Fighter 3"
        }}</span>
      </div>
      <div class="tournament__match">
        <span class="tournament__match__team" href="#">{{
          fighters()[1]?.name || "Fighter 2"
        }}</span>
        <span class="tournament__match__team" href="#">{{
          fighters()[2]?.name || "Fighter 3"
        }}</span>
      </div>
    </div>

    <div class="tournament__round tournament__round--final"></div>
    <div class="tournament__round tournament__round--final"></div>
  </div>
</div>
