@if (bracket()) {
<div class="tournament">
  <div class="tournament__grid">
    <!-- tournament__round 1/8 -->
    <div class="tournament__round tournament__round--first-round">
      <div class="tournament__match">
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighters[1]"
            (ngModelChange)="onSelectionChange(1, $event?.id)"
          >
            <option [ngValue]="undefined"></option>
            @for (fighter of bracket().fighters; track $index) {
            <option [ngValue]="fighter">test {{ fighter.name }}</option>
            }
          </select>
        </span>
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighters[2]"
            (ngModelChange)="onSelectionChange(2, $event?.id)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
      </div>
      <div class="tournament__match">
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighters[3]"
            (ngModelChange)="onSelectionChange(3, $event?.id)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighters[4]"
            (ngModelChange)="onSelectionChange(4, $event?.id)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
      </div>
      <div class="tournament__match">
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighters[5]"
            (ngModelChange)="onSelectionChange(5, $event?.id)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighters[6]"
            (ngModelChange)="onSelectionChange(6, $event?.id)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
      </div>
      <div class="tournament__match">
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighters[7]"
            (ngModelChange)="onSelectionChange(7, $event?.id)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighters[8]"
            (ngModelChange)="onSelectionChange(8, $event?.id)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
      </div>
    </div>

    <div class="tournament__round tournament__round--first-round">
      <div class="tournament__match">
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighters[9]"
            (ngModelChange)="onSelectionChange(9, $event?.id)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighters[10]"
            (ngModelChange)="onSelectionChange(10, $event?.id)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
      </div>
      <div class="tournament__match">
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighters[11]"
            (ngModelChange)="onSelectionChange(11, $event?.id)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighters[12]"
            (ngModelChange)="onSelectionChange(12, $event?.id)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
      </div>
    </div>

    <!-- tournament__round 1/2 -->
    <div class="tournament__round">
      <div class="tournament__match">
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighters[13]"
            (ngModelChange)="onSelectionChange(13, $event?.id)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighters[14]"
            (ngModelChange)="onSelectionChange(14, $event?.id)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
      </div>
    </div>

    <!-- tournament__round final -->
    <div class="tournament__round tournament__round--winner">
      <div class="tournament__match">
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighters[15]"
            (ngModelChange)="onSelectionChange(15, $event?.id)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
      </div>
    </div>
  </div>
</div>

}
