@if (bracket()) {
<div class="tournament">
  <div class="tournament__grid">
    <!-- tournament__round 1/8 -->
    <div class="tournament__round tournament__round--first-round">
      <div class="tournament__match">
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighter1"
            (ngModelChange)="onSelectionChange(1, $event.value)"
          >
            <option value="undefined"></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">test {{ item.name }}</option>
            }
          </select>
        </span>
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighter2"
            (ngModelChange)="onSelectionChange(2, $event)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
      </div>
      <div class="tournament__match">
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighter3"
            (ngModelChange)="onSelectionChange(3, $event)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighter4"
            (ngModelChange)="onSelectionChange(4, $event)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
      </div>
      <div class="tournament__match">
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighter5"
            (ngModelChange)="onSelectionChange(5, $event)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighter6"
            (ngModelChange)="onSelectionChange(6, $event)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
      </div>
      <div class="tournament__match">
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighter7"
            (ngModelChange)="onSelectionChange(7, $event)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighter8"
            (ngModelChange)="onSelectionChange(8, $event)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
      </div>
    </div>

    <div class="tournament__round tournament__round--first-round">
      <div class="tournament__match">
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighter9"
            (ngModelChange)="onSelectionChange(9, $event)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighter10"
            (ngModelChange)="onSelectionChange(10, $event)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
      </div>
      <div class="tournament__match">
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighter11"
            (ngModelChange)="onSelectionChange(11, $event)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighter12"
            (ngModelChange)="onSelectionChange(12, $event)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
      </div>
    </div>

    <!-- tournament__round 1/2 -->
    <div class="tournament__round">
      <div class="tournament__match">
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighter13"
            (ngModelChange)="onSelectionChange(13, $event)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighter14"
            (ngModelChange)="onSelectionChange(14, $event)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
      </div>
    </div>

    <!-- tournament__round final -->
    <div class="tournament__round tournament__round--winner">
      <div class="tournament__match">
        <span class="tournament__match__team">
          <select
            class="fighter-select"
            [ngModel]="selectedFighter15"
            (ngModelChange)="onSelectionChange(15, $event)"
          >
            <option value=""></option>
            @for (item of bracket().fighters; track $index) {
            <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </span>
      </div>
    </div>
  </div>
</div>

}
