@if (competition) {
<!-- BRACKET SELECTION -->
<mat-form-field class="w-full">
  <mat-label>Available brackets</mat-label>
  <mat-select (selectionChange)="onBracketSelected($event.value)">
    @for (bracket of brackets; track $index) {
    <mat-option [value]="bracket.id">{{ bracket.name }}</mat-option>
    }
  </mat-select>
</mat-form-field>

@if (selectedBracket && bracketFighters && fighters) {
<h1>surface: {{ selectedBracket.surface }}</h1>
<mat-accordion>
  <!-- EDIT BRACKET -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Edit bracket </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <form
        [formGroup]="form"
        novalidate
        (ngSubmit)="submit()"
        class="flex flex-col p-2"
      >
        <mat-form-field>
          <mat-label>surface</mat-label>
          <input matInput formControlName="surface" required />
        </mat-form-field>

        <div class="flex flex-col">
          <button
            mat-stroked-button
            color="primary"
            type="submit"
            [disabled]="form.invalid"
          >
            Update
          </button>
          <button
            mat-stroked-button
            color="primary"
            class="w-full mt-1"
            (click)="deleteBracket(selectedBracket.id)"
          >
            DELETE BRACKET
          </button>
        </div>
      </form>
    </mat-list>
  </mat-expansion-panel>
  <!-- REMOVE FIGHTERS -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Remove fighters </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      @for (item of bracketFighters; track $index) {
      <mat-list-item>
        <button
          mat-stroked-button
          (click)="removeFighter(selectedBracket.id, item.id)"
        >
          remove
        </button>
        <span> {{ item.name }} </span>
      </mat-list-item>
      <mat-divider></mat-divider>
      }
    </mat-list>
  </mat-expansion-panel>
  <!-- ADD FIGHTERS -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Add fighters </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      @for (item of fighters; track $index) {
      <mat-list-item>
        <button
          mat-stroked-button
          (click)="addFighter(selectedBracket.id, item.id)"
        >
          Add
        </button>
        <span> {{ item.name }} </span>
      </mat-list-item>
      <mat-divider></mat-divider>
      }
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
<!-- LIST FIGHTERS -->
<!-- KUMITE -->
@if (selectedBracket.name.startsWith("Kumite")) {
<!-- 3 round robin -->
@if (bracketFighters.length == 3) {
<app-kumite-tournament [fighters]="bracketFighters"></app-kumite-tournament>
} @else {
<app-kumite-standard [bracket]="selectedBracket"></app-kumite-standard>
} }
<!-- KATA -->
@if (selectedBracket.name.startsWith("Kata")) {
<app-kata [fighters]="bracketFighters"></app-kata>
} } }
