<form
  [formGroup]="form"
  novalidate
  (ngSubmit)="submit()"
  class="flex flex-col p-2"
>
  <mat-form-field>
    <mat-label>name</mat-label>
    <input matInput formControlName="name" required />
  </mat-form-field>

  <mat-form-field>
    <mat-label>gender</mat-label>
    <select formControlName="gender" matNativeControl required>
      <option value="masculin">Masculin</option>
      <option value="feminin">Feminin</option>
    </select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>birth date</mat-label>
    <input
      matInput
      [matDatepicker]="datePicker"
      formControlName="birthDate"
      required
    />
    <mat-datepicker-toggle
      matIconSuffix
      [for]="datePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #datePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>weight</mat-label>
    <input matInput formControlName="weight" required />
  </mat-form-field>

  <mat-form-field>
    <mat-label>rank</mat-label>
    <select formControlName="rank" matNativeControl required>
      <option value="no kyu">no kyu</option>
      <option value="10 kyu">10 kyu</option>
      <option value="9 kyu">9 kyu</option>
      <option value="8 kyu">8 kyu</option>
      <option value="7 kyu">7 kyu</option>
      <option value="6 kyu">6 kyu</option>
      <option value="5 kyu">5 kyu</option>
      <option value="4 kyu">4 kyu</option>
      <option value="3 kyu">3 kyu</option>
      <option value="2 kyu">2 kyu</option>
      <option value="1 kyu">1 kyu</option>
      <option value="1 dan">1 dan</option>
      <option value="2 dan">2 dan</option>
      <option value="3 dan">3 dan</option>
      <option value="4 dan">4 dan</option>
      <option value="5 dan">5 dan</option>
      <option value="6 dan">6 dan</option>
      <option value="7 dan">7 dan</option>
      <option value="8 dan">8 dan</option>
      <option value="9 dan">9 dan</option>
      <option value="10 dan">10 dan</option>
    </select>
  </mat-form-field>

  <div class="flex flex-col">
    <button
      mat-stroked-button
      color="primary"
      type="submit"
      [disabled]="form.invalid"
    >
      Add fighter
    </button>
  </div>
</form>
