@if (users) {
<div class="w-2-3 m-1">
  <table mat-table [dataSource]="users" class="mat-elevation-z8">
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>username</th>
      <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>role</th>
      <td mat-cell *matCellDef="let element">
        <select
          [(ngModel)]="element.role"
          (ngModelChange)="updateRole(element.id, $event)"
        >
          @for (role of availableRoles; track role) {
          <option [value]="role">{{ role }}</option>
          }
        </select>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>
  </table>
</div>
}
