@if (isAdmin) {
<div class="m-1">
  <button mat-stroked-button class="w-full" (click)="addCompetition()">
    New competition
  </button>
</div>
} @for (item of data; track $index) {
<div class="m-1">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title
        ><b>{{ item.name }}</b>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ item.description }}</p>
    </mat-card-content>
    <mat-card-footer>
      <mat-chip-set class="m-1">
        @if (isAdmin) {
        <mat-chip (click)="editCompetition(item.id)">Manage</mat-chip>
        } @if (isAdmin || isModerator) {
        <mat-chip (click)="manageCompetitionFighters(item.id)"
          >Add fighters</mat-chip
        >
        }
        <mat-chip (click)="viewBrackets(item.id)">View brackets</mat-chip>
      </mat-chip-set>
    </mat-card-footer>
  </mat-card>
</div>
}
