@if (competition) {
<mat-tab-group>
  <mat-tab label="Bracket">
    <div class="">
      <app-admin-bracket-page
        [competitionId]="competitionId"
      ></app-admin-bracket-page>
    </div>
  </mat-tab>
  <!-- FIGHTER TAB -->
  <mat-tab label="Fighters">
    <app-edit-competition-fighters
      [competitionId]="competitionId"
    ></app-edit-competition-fighters
  ></mat-tab>
  <!-- COMPETITION DETAILS TAB -->
  <mat-tab label="Details">
    <app-edit-competition [id]="competitionId"></app-edit-competition>
  </mat-tab>
</mat-tab-group>
}
